.flexRow--triggerConten {
    width: 100%;
    min-width: 100%;
}

.flexRow--drawerFirstContent {
    width: 100%;
}

.flexRowContent--triggerConten :local(div):first-child {
    width: 80% !important;
}

.flexRowContent--triggerConten :local(div) {
    display: inline-flex;
    align-items: center;
}

.flexRow--imageContent {
    width: 100%;
}
